

.col {

border: 1px;
width:200px;
}




body {
	font-family: Arial black,serif;
	font-size: 80px;
	background-color:#DC143C;
	text-transform: uppercase;
	font-weight: bold
}




.date {
	color:pink;
	font-size:100px;
	text-align: left;
	padding-top: 200px;
	transform: skew(10deg);

}

.title {
	color:pink;
	font-size:40px;
	text-align: left;
	transform: skew(10deg);
}

.MADA {
	color:pink;
	font-size:240px; 
	text-align: left;
	text-shadow: 0 0 9px white;
	transform: skew(10deg);
}




.jj {
	color:lightpink;
	text-align:center;
	font-size: 120px;
}

.DPub {
	color:lightpink;
	font-size: 40px;
	text-align: right;

}


.xyz1 {
	color:lightpink;
	font-size: 40px;
	text-align: right;
}

.xyz2 {
	color:lightpink;
	font-size: 40px;
	text-align: right;
}







