

body {
	font-family: Arial black,serif;
/*	font-size: 7vw;*/
	background-color:#DC143C;
	text-transform: uppercase;
	font-weight: bold;
}


.about {
	color: pink;
	font-size: 2vw;
	text-align: left;
	transform: skew(10deg);

}

.info {
	color:pink;
	font-size: 2vw;
	text-align: left;
	padding-top: 4vh;
	margin-left: 3vw;

}



.dp {
	color: pink;
	font-size: 1vw;
	text-align: left;
	transform: skew(10deg);
	margin-left: 3vw;
}



.welcome {
	color:pink;
	font-size: 10vw;
	text-align: left;
	padding-top: 10vw;
	transform: skew(10deg);
	margin-left: 3vw;

}





.jj {
	color: lightpink;
	text-align:center;
	font-size: 10vw;
}

.dpub {
	color: lightpink;
	font-size: 2vw;
	text-align: right;

}


.MADA {
	color:pink;
	font-size: 10vw; 
	text-align: left;
	text-shadow: 0 0 9px white;
	transform: skew(10deg);
}





.xyz1 {
	color:lightpink;
	font-size: 1vw;
	text-align: right;
}

.xyz2 {
	color:lightpink;
	font-size: 1vw;
	text-align: right;
}


.box{

	width:100%;
	background-color: green;
}




