
body {
	background-color: #8B0000;
}



.date {
	font-size:80px;
	font-family: Blippo;

	text-align: left;

	padding-top: 100px;
	margin-left: 5vw;
}


.title {
	font-size:60px;
	font-family: Blippo;

	text-align: left;
	margin-left: 5vw;
}


.MADA {
	font-size:200px; 
	font-family: Blippo;
	font-weight:bold;

	color: #B22222;

	text-align: left;

	padding-top: 10px;
	margin-left: 5vw;
}





.Make {
	font-size: 80px;
	font-family: Blippo;
	font-weight:bold;
	
	padding-left:10vw;
	padding-top: 50px;
	
	animation: make 10s infinite alternate;

}


.word1 {
	font-size: 120px;
	font-family: Arial black;
	font-weight:bold;
	
	color:salmon;
	
	text-align:center;

	padding-left:30vw;



}

.word2 {
	font-size: 120px;
	font-family: Arial black;
	font-weight:bold;
	
	color:salmon;

	text-align:center;

	padding-left:20vw;
}



.Again {
	font-size: 80px;
	font-family: Blippo;
	font-weight:bold;

	text-align: right;

	padding-right:10vw;

	animation: again 10s infinite alternate;
}

.dash {
	font-size: 60px;
	font-family: Arial black;

	color:salmon;

	text-align:right;

	padding-bottom: -40px;
}


.word3 {
	font-size: 60px;
	font-family: Arial;

	color:salmon;

	text-align:right;

	padding-bottom: -40px;
	padding-right:10vw;
}




@keyframes make {
	0%{
		margin-left:-300px;
	}

	50%{
		margin-left:20px;
	}

	100%{
		margin-left:-300px;
	}

}




@keyframes again {
	0%{
		margin-right:-300px;
	}

	50%{
		margin-right:20px;
	}

	100%{
		margin-right:-300px;
	}

}






