
/*body {
	background-color:steelblue;
}*/

/*start boxes*/
.box-a {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-b {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:0px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-c {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:0px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-d {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:0px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-e {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:0px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-f {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:0px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-g {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:0px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-h {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:0px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-i {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:130px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-j {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:130px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-k {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:130px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-l {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:130px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-m {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:130px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-n {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:130px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-o {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:130px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-p {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:130px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-q {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:260px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-r {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:260px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-s {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:260px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-t {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:260px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-u {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:260px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-v {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:260px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-w {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:260px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-x {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:260px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-y {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:390px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-z {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:390px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-aa {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:390px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-ab {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:390px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-ac {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:390px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-ad {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:390px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-ae {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:390px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-af {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:390px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}


.box-ag {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:520px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-ah {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:520px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-ai {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:520px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-aj {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:520px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-ak {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:520px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-al {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:520px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-am {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:520px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-an {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:520px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-ao {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:650px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-ap {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:650px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-aq {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:650px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-ar {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:650px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-as {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:650px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-at {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:650px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-au {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:650px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-av {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:650px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-aw {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:780px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-ax {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:780px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-ay {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:780px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-az {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:780px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-ba {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:780px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-bb {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:780px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-bc {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:780px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-bd {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:780px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-be {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:910px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-bf {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:910px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-bg {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:910px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-bh {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:910px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-bi {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:910px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-bj {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:910px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-bk {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:910px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-bl {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:910px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}


.box-bm {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1040px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-bn {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1040px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-bo {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1040px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-bp {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1040px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-bq {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1040px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-br {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1040px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-bs {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1040px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-bt {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1040px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-bu {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1170px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-bv {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1170px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-bw {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1170px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-bx {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1170px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-by {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1170px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-bz {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1170px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-ca {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1170px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-cb {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1170px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-cc {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1300px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-cd {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1300px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-ce {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1300px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-cf {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1300px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-cg {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1300px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-ch {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1300px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-ci {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1300px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-cj {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1300px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}


.box-ck {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1430px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-cl {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1430px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-cm {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1430px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-cn {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1430px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-co {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1430px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-cp {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1430px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-cq {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1430px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-cr {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1430px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-cs {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1560px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}

.box-ct {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1560px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-cu {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1560px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-cv {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1560px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-cw {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1560px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-cx {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1560px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-cy {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1560px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-cz {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1560px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-da {
	width:130px;
	height:130px;
	position:fixed;
	top:0px;
	left:1690px;
	z-index:-9;
	background-color:lightcyan;
	align-items:left;
}

.box-db {
	width:130px;
	height:130px;
	position:fixed;
	top:130px;
	left:1690px;
	z-index:-9;
	background-color:oldlace;
	align-items:left;
}

.box-dc {
	width:130px;
	height:130px;
	position:fixed;
	top:260px;
	left:1690px;
	z-index:-9;
	background-color:whitesmoke;
	align-items:left;
}

.box-dd {
	width:130px;
	height:130px;
	position:fixed;
	top:390px;
	left:1690px;
	z-index:-9;
	background-color:cornflowerblue;
	align-items:left;
}

.box-de {
	width:130px;
	height:130px;
	position:fixed;
	top:520px;
	left:1690px;
	z-index:-9;
	background-color:slategrey;
	align-items:left;
}

.box-df {
	width:130px;
	height:130px;
	position:fixed;
	top:650px;
	left:1690px;
	z-index:-9;
	background-color:floralwhite;
	align-items:left;
}

.box-dg {
	width:130px;
	height:130px;
	position:fixed;
	top:780px;
	left:1690px;
	z-index:-9;
	background-color:royalblue;
	align-items:left;
}

.box-dh {
	width:130px;
	height:130px;
	position:fixed;
	top:910px;
	left:1690px;
	z-index:-9;
	background-color:lightskyblue;
	align-items:left;
}
/*End Boxes*/

/*Start Opacity Box*/
.box-dh {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-8;
	opacity: 0.5;
	background-color:white;
	align-items:left;
}
/*End Opacity Box*/


.date {
	font-size:3vw;
	font-family:Blippo;
	font-weight:bold;
	text-align:left;
/*	padding-top: 70vw;*/
	margin-left:5vw;
}


.title {
	font-size:3vw;
	font-family:Blippo;
	text-align:left;
	margin-left:5vw;
}


.MADA {
	font-size:14vw; 
	font-family:Blippo;
	font-weight:bold;
	color:black;
	text-align:left;
/*	padding-top: 2vw;*/
	margin-left: 5vw;
}


.Make {
	font-size:5vw;
	font-family:Blippo;
	font-weight:bold;
	padding-left:10vw;
	padding-top:5vh;
	animation: make 10s infinite alternate;
}


.word1 {
	font-size:10vw;
	font-family:Arial black;
	font-weight:bold;
	color:#B22222;
	text-align:center;
	padding-left:30vw;
}


.word2 {
	font-size:10vw;
	font-family:Arial black;
	font-weight:bold;
	color:#B22222;
	text-align:center;
	padding-left:20vw;
}


.Again {
	font-size:5vw;
	font-family:Blippo;
	font-weight:bold;
	text-align:right;
	padding-right:10vw;
	animation: again 10s infinite alternate;
}


.dash {
	font-size:2vw;
	font-family:Arial/* black*/;
	color:#B22222;
	text-align:right;
/*	padding-bottom: -40px;*/
	margin-top:4vw
}


.word3 {
	font-size:2vw;
	font-family:Arial;
	color:#B22222;
	text-align:right;
/*	padding-bottom: -40px;*/
	padding-right:5vw;
}




@keyframes make {
	0%{
		margin-left:-300px;
	}

	50%{
		margin-left:20px;
	}

	100%{
		margin-left:-300px;
	}
}




@keyframes again {
	0%{
		margin-right:-300px;
	}

	50%{
		margin-right:20px;
	}

	100%{
		margin-right:-300px;
	}
}








