body {
	font-size:20px;
	background-color:#ffd868;
	cursor: url(cursor2.png), auto;
}

	a {text-decoration:none;}

	.title {
		font-family:Palatino Linotype;
		font-size:70px;
		font-weight:bold;
		display:block;
		text-align:center;
		padding-top:3%;
/*		padding-left:30%;
		padding-right:20%;*/
/*		padding-bottom:3%;*/
		margin-left:auto;
		margin-right:auto;
	}

	.choose {
		font-family:Palatino Linotype;
		color:black;
		font-style:italic;
		font-size:25px;
		width:89%;
		display:flex;
		text-align:left;
/*		flex-wrap:wrap;*/
		padding-top:3%;
		padding-left:15px;
		margin-left:5.5%;
		margin-bottom:3%;
	}

/* Start Nav */
	.nav {
		font-family:Lucida Grande;
		width:89%;
/*		padding:1px;*/
	/*	position:fixed;*/
		top:0px;
		left:0px;
		display:flex;
		flex-wrap:wrap;
/*		justify-content:space-around;*/
/*		margin-top:3%;*/
		margin-left:5.5%;
		margin-right:5.5%;
	}

	.btn {
		padding:15px;
		border-radius:1%;
		font-family:Lucida Grande;
	}

	.bottom {
		display:flex;
		text-align:left;
		flex-wrap:wrap;
	}

/*	Start reset & why*/
	.btn-reset {
		margin-left:5.5%;
		margin-right:5%;
	}

	.btn-why {
/*		margin-left:5.5%;*/
		margin-right:5%;
/*		padding:15px;*/
/*		border-radius:1%;*/
/*		display:inline-flex;
		text-align:left;
		padding-left:15px;
		margin-left:5.5%;
		margin-right:5%;*/
	}

	.side-by-side{
		display:flex;
		flex-wrap:wrap;
	}

	.side-by-side.hide {
		display:none;
	}

	.why {
		font-family:Lucida Grande;
		font-style:italic;
		display:block;
		text-align:left;
		padding-left:15px;
		margin-left:5.5%;
		margin-right:5%;
	}

	.why-title {
		padding-top:3%;
		font-weight:bold;
		width:100%;
	}

	.why-body{
		padding-top:1.5%;
		padding-bottom:0%;
		font-size:20px;
		width:40%;
		text-overflow:wrap;
		line-height:30px;
		height:100vh;
	}

	.why.hide {
		display:none;
	}

	.why.visible {
		display:block;
	}

	.credits {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
		margin-left:5.5%;
		font-size:20px;
		width:30%;
		text-overflow:wrap;
		line-height:30px;
		height:100vh;
	}

	.contact {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
/*		margin-left:5.5%;*/
		font-size:15px;
/*		width:89%;*/
		text-overflow:wrap;
		line-height:19px;
	}

	.legal{
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
/*		padding-left:5.5%;*/
		font-size:15px;
/*		width:89%;*/
		text-overflow:wrap;
		line-height:19px;
	}

	.btn:hover {
		background-color:black;
		color:#ffd868;
		cursor:pointer;
		text-shadow: 0 0 300px black;
		box-shadow: 5px 5px 10px black;
	}

	a {
		padding:5px;
/*		background-color:black;*/
		color:black;
		cursor:pointer;
		text-shadow: 0 0 30px black;
/*		box-shadow: 5px 5px 10px black;*/
	}

	a:hover {
		background-color:black;
		color:#ffd868;
		cursor:pointer;
		text-shadow: 0 0 300px black;
		box-shadow: 5px 5px 10px black;
	}

/*		End reset & why*/
/* 	End Nav */

	/* Start adventure images*/
	.container-one {
		display:flex;
		flex-wrap:wrap;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:10%;
		margin-left:5.4%;
		margin-right:5.4%;
		margin-top:5.4%;
	}

	.text {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
		padding-left:3%;
		font-size:15px;
		width:100%;
		text-overflow:wrap;
		line-height:17px;
	}

	.con.first {
		width:39%;
		padding:1%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}

	.con.sec {
		width:39%;
		padding:1%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}

	.con.hide {
		display:none;
	}

	.con img {
		width:100%;
		box-shadow: 5px 5px 10px black;
	}
	/* End adventure images*/


	/*Start Archive*/
	.container-two {
		display:flex;
		flex-wrap:wrap;
		padding-left:5%;
		padding-right:5%;
		padding-bottom:10%;
	}

	.item {
		width:25%;
		padding:0.5%;
	}

	.item.hide {
		display:none;
	}

	.item img {
		width:100%;
	}

	.co {
		display:flex;
		position:absolute;
		flex-wrap:wrap;
		width:25%;
		padding-left:5%;
		padding-right:5%;
		padding-bottom:10%;
/*		text-overflow:wrap;*/
		z-index:5;
		top:0px;
		right:0px;
/*		margin-left:5.4%;
		margin-right:5.4%;*/
/*		margin-top:35.7%;*/
		opacity:0.5;
	}

	.co img {
		width:100%;
	}

	.co:hover {
		display:none;
	}
	/*End Archive*/


	/*Start Background*/
	.background {
		font-size:0.6vw;
		color:grey;
		position:fixed;
		z-index:-6;
		width:100%;
		top:0px;
		right:0px;
		opacity:0.3;
		white-space:wrap;
		overflow:hidden;
	}

	.back img {
		z-index:-10;
		width:120vh;
		top:10vh;
		left:40vh;
		position:fixed;
	}
	/*End Background*/


	.mobile {
		display:none;
	}

	.desktop {
		display:block;
	}

	.nav-mobile {
		display:none;
	}

	.menu {
		display:none;
	}

	/*Start Mobiles*/
	@media (max-width:500px) {

		.why {
			margin-right:0%;
		    padding-right:0px;
			display:inline-block;
			width:100%;
		}

		.why-title{
			font-weight:bold;
			display:inline-block;
			padding-bottom:3%;
			padding-top:6%;
			width:100%;
		}

		.why-body {
			margin-right:0%;
		    padding-right:0px;
			display:inline-block;
			width:100%;
       		padding-right:15px;
    		margin-right:5.5%;
		}

		a {
			padding:10px;
			text-shadow: 1px 1px 30px black;
			padding-left:0px;
/*			box-shadow: 5px 5px 10px black;*/
		}

		.side-by-side {
/*			margin-top:-3%;*/
			width:100%;
			display:block;
		}

		.credits {
			margin-right:0%;
		    padding-right:0px;
			display:block;
			width:100%;
    		padding-left:15px;
    		margin-left:5.5%
       		padding-right:15px;
    		margin-right:5.5%;
    		margin-top:5.5%;
/*		    margin-top:300%;*/
		}

		.imnet {
			font-weight:bold;
		}

		.con {
			width:44%;
			margin:3%;
			display:flex;
			flex-wrap:wrap;
		}

		.item {
			width:44%;
			margin:3%;
			display:flex;
			flex-wrap:wrap;
		}

		.title {
			font-size:70px;
			display:absolute;
			padding-top:10%;
			padding-left:0.1%;
		}

		.nav {
			margin-top:0%;
			text-align:left;
		}
		
		.mobile {
			display:block;
		}

		.desktop {
			display:none;
		}

		.background {
			font-size:0.6vh;
		}

		.back img {
			z-index:-10;
			width:90%;
			top:45vw;
			left:10vw;
			margin-left:auto;
			margin-right:auto;
			position:fixed;
			display:block;
		}

		.nav-mobile {
			display:block;
			width:100%;
			margin-left:5.5%;
			margin-top:1%;
		}
	/*End Mobiles*/








