body {
	font-size:20px;
	background-color:#ffd868;
	cursor: url(cursor2.png), auto;
}

	a {text-decoration:none;}

	.title {
		font-family:Palatino Linotype;
		font-size:70px;
		font-weight:bold;
		display:block;
		text-align:center;
		padding-top:3%;
/*		padding-left:30%;
		padding-right:20%;*/
/*		padding-bottom:3%;*/
		margin-left:auto;
		margin-right:auto;
	}

	.choose {
		font-family:Palatino Linotype;
		color:black;
		font-style:italic;
		font-size:25px;
		width:89%;
		display:flex;
		text-align:left;
/*		flex-wrap:wrap;*/
		padding-top:3%;
		padding-left:15px;
		margin-left:5.5%;
		margin-bottom:3%;
	}

/* Start Nav */
	.nav {
		font-family:Lucida Grande;
/*		width:12%;*/
		line-height:25px;
		top:0px;
		left:0px;
		display:block;
		flex-wrap:wrap;
		margin-left:5.5%;
		margin-right:5.5%;
		margin-top:40px;
		width:130px;
	}
	.nav.hide {
		display:none;
	}
	.btn {
		padding:15px;
		border-radius:1%;
		font-family:Lucida Grande;
	}

	.bottom {
		display:flex;
		text-align:left;
		flex-wrap:wrap;
	}

/*	Start reset & why*/
	.btn-reset {
		margin-left:5.5%;
		margin-right:5%;
	}

	.btn-why {
		margin-right:5%;
	}

	.side-by-side{
		display:flex;
		flex-wrap:wrap;
	}

	.side-by-side.hide {
		display:none;
	}

	.why {
		font-family:Lucida Grande;
		font-style:italic;
		display:block;
		text-align:left;
		padding-left:15px;
		margin-left:5.5%;
		margin-right:5%;
	}

	.why-title {
		padding-top:3%;
		font-weight:bold;
		width:100%;
	}

	.why-body{
		padding-top:1.5%;
		padding-bottom:0%;
		font-size:20px;
		width:40%;
		text-overflow:wrap;
		line-height:30px;
		height:100vh;
	}

	.why.hide {
		display:none;
	}

	.why.visible {
		display:block;
	}

	.credits {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
		margin-left:5.5%;
		font-size:20px;
		width:30%;
		text-overflow:wrap;
		line-height:30px;
		height:100vh;
	}

	.contact {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
/*		margin-left:5.5%;*/
		font-size:15px;
/*		width:89%;*/
		text-overflow:wrap;
		line-height:19px;
	}

	.legal{
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
/*		padding-left:5.5%;*/
		font-size:15px;
/*		width:89%;*/
		text-overflow:wrap;
		line-height:19px;
	}

	.btn:hover {
		background-color:black;
		color:#ffd868;
		cursor:pointer;
		text-shadow: 0 0 300px black;
		box-shadow: 5px 5px 10px black;
	}

	a {
		padding:5px;
/*		background-color:black;*/
		color:black;
		cursor:pointer;
		text-shadow: 0 0 30px black;
/*		box-shadow: 5px 5px 10px black;*/
	}

	a:hover {
		background-color:black;
		color:#ffd868;
		cursor:pointer;
		text-shadow: 0 0 300px black;
		box-shadow: 5px 5px 10px black;
	}

/*		End reset & why*/
/* 	End Nav */

	/* Start adventure images*/
	.container-one {
		display:flex;
		flex-wrap:wrap;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:10%;
		margin-left:10%;
		margin-right:10%;
		margin-top:-750px;
	}

	.text {
		font-family:Lucida Grande;
		padding-top:2%;
		padding-bottom:1.5%;
		padding-left:3%;
		font-size:15px;
		width:100%;
		text-overflow:wrap;
		line-height:17px;
	}

	.con.first {
		width:35%;
		padding:1%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}

	.con.sec {
		width:35%;
		padding:1%;
		margin-right:auto;
		margin-left:auto;
		display:block;
	}

	.con.hide {
		display:none;
	}

	.con img {
		width:100%;
		box-shadow: 5px 5px 10px black;
	}
	/* End adventure images*/







	/*Start Archive*/
	.container-two {
		display:flex;
		flex-wrap:wrap;
		padding-left:5%;
		padding-right:5%;
		padding-bottom:10%;
		margin-top:-280px;
		margin-left:15%;
		width:80%;
	}
	.container-two.hide {
		display:none;
	}

	.item {
		width:100%;
		padding:1%;
	}

	.item.hide {
		display:none;
	}

	.item img {
		width:100%;
	}

	.tall {
		width:60%;
	}


	.item.skin.first {
		width:60%;
		height:60%;
	}
	.item.human.first {
		width:40%;
		height:40%;
	}
	.item.human.sec {
		width:33.33%;
		height:33.33%;
	}
	.item.pure.sec {
		width:33.33%;
		height:33.33%;
	}
	.item.cook.sec {
		width:22%;
		height:22%;
		margin-top:-14%;
		margin-left:6.34%;
	}
	.item.cook.first {
		width:22%;
		height:22%;
		margin-top:-22%;
		margin-left:78%;
	}
	.item.net.first {
		width:45%;
		height:45%;
	}
	.item.net.sec {
		width:50%;
		height:50%;
	}
	.item.naughty.first {
		width:25%;
		height:25%;
		margin-top:10%;
	}
	.item.mon.first {
		width:25%;
		height:25%;
	}
	.item.ani.first {
		width:40%;
		height:40%;
		margin-left:10%;
	}
	.item.skin.sec {
		width:60%;
		height:60%;
	}
	.item.art.first {
		width:35%;
		height:35%;
	}
	.item.chem.sec {
		width:25%;
		height:25%;
		margin-top:-20%;
		margin-left:75%;
	}
	.item.inter.sec {
		width:30%;
		height:30%;
		margin-top:15%;
	}
	.item.dark.first {
		width:50%;
		height:50%;
	}
	.item.dark.sec {
		width:50%;
		height:50%;
	}
	.item.pro.first {
		width:40%;
		height:40%;
		margin-left:10%;
	}
	.item.car.first {
		width:40%;
		height:40%;
	}
	.item.chem.first {
		width:60%;
		height:60%;
	}
	.item.car.sec {
		width:40%;
		height:40%;
		margin-top:-15.1%;
	}
	.item.pure.first {		
		width:30%;
		height:30%;
	}
	.item.pro.sec {		
		width:30%;
		height:30%;
	}
	.item.ppl.sec {
		width:60%;
		height:60%;
		margin-top:10%;
	}
	.item.rest.first {
		width:40%;
	}
	.item.naughty.sec {
		width:33.33%;
	}
	.item.ani.sec {
		width:33.33%;
	}
	.item.ppl.first {
		width:33.33%;
		height:33.33%;
		margin-top:10%;
	}
	/*End Archive*/


	/*Start Background*/
	.background {
		font-size:0.6vw;
		color:grey;
		position:fixed;
		z-index:-6;
		width:100%;
		top:0px;
		right:0px;
		opacity:0.3;
		white-space:wrap;
		overflow:hidden;
	}

	.back img {
		z-index:-10;
		width:120vh;
		top:10vh;
		left:40vh;
		position:fixed;
	}
	/*End Background*/


	.mobile {
		display:none;
	}

	.desktop {
		display:block;
	}

	.nav-mobile {
		display:none;
	}

	.menu {
		display:none;
	}

	/*Start Mobiles*/
	@media (max-width:500px) {
		.why {
			margin-right:0%;
		    padding-right:0px;
			display:inline-block;
			width:100%;
		}

		.why-title{
			font-weight:bold;
			display:inline-block;
			padding-bottom:3%;
			padding-top:6%;
			width:100%;
		}

		.why-body {
			margin-right:0%;
		    padding-right:0px;
			display:inline-block;
			width:80%;
       		padding-right:15px;
    		margin-right:5.5%;
		}

		a {
			padding:10px;
			text-shadow: 1px 1px 30px black;
			padding-left:0px;
/*			box-shadow: 5px 5px 10px black;*/
		}

		.side-by-side {
/*			margin-top:-3%;*/
			width:100%;
			display:block;
		}

		.credits {
			margin-right:0%;
		    padding-right:0px;
			display:block;
			width:100%;
    		padding-left:15px;
    		margin-left:5.5%
       		padding-right:15px;
    		margin-right:5.5%;
    		margin-top:5.5%;
/*		    margin-top:300%;*/
		}

		.imnet {
			font-weight:bold;
		}

		.container-one {
			width:50%;
			display:block;
			flex-wrap:wrap;
			margin:0;
			padding:0;
			margin-top:-850px;
			margin-left:150px;
		}

		.con2_mobile {
			width:80%;
			padding:0px;
			margin-left:3%;
			margin-right:3%;
		}

		.item {
			display:flex;
			flex-wrap:wrap;
		}

		.title {
			font-size:70px;
			display:absolute;
			padding-top:10%;
			padding-left:0.1%;
		}

		.nav {
			margin-top:0%;
			text-align:left;
		}
		
		.mobile {
			display:block;
		}

		.desktop {
			display:none;
		}

		.background {
			font-size:0.6vh;
		}

		.back img {
			z-index:-10;
			width:90%;
			top:45vw;
			left:10vw;
			margin-left:auto;
			margin-right:auto;
			position:fixed;
			display:block;
		}

		.nav-mobile {
			display:block;
			width:40%;
			margin-left:5.5%;
			margin-top:1%;
		}

		.choose {
			margin-bottom:50px;
		}

		.item.skin.first {
			margin-top:1000px;
		}
		.item.human.first {
			margin-top:1000px;
	}
	/*End Mobiles*/








