
body {
	background-color:#fef7fa;
	color:black;
	text-align:left;
	font-size:30px;
	line-height:30px;
	text-overflow:wrap;
}

a {
	text-decoration:none;
	text-decoration-color:none;
	color:white;
	cursor:pointer;
	text-align:left;
	background-color:pink;
/*	border-radius: pink 1px solid;*/
	font-size:15px;
	padding:9px;
	background-color:pink;
}

a:hover {
	background-color:black;
	color:white;
	padding:9px;
/*	border-radius: white 1px solid;*/
}

h1	{
	font-family: professor, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:150px;
	line-height:160px;
	text-align:right;
	color:pink;
	margin-top:6%;
	margin-right:4%;
	margin-left:10%;
	text-overflow:wrap;
	width:86%;
}

h2 {
	font-family: cairo, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:55px;
	line-height:55px;
	color:pink;
	text-align:right;
	text-overflow:wrap;
	margin-top:3%;
	margin-right:4%;
}

h3 {
	font-family: tribute, serif;
	font-weight:400;
	font-style:normal;
	margin-left:10%;
	font-style:uppercase;
	margin-top:12%;
}

p {
	width:48%;
	font-family: mr-eaves-modern, sans-serif;
	font-weight:400;
	font-style:normal;
	margin-left:48%;
	text-indent:30px;
	background-color:#fef7fa;
	padding-left:20px;
}

p.noindent {
	text-indent:0px;
}

p.up {
	margin-top:-9%;
}

p.textup {
	margin-top:-255px;
}

p.upup {
	margin-top:-250px;
}

p.upupup {
	margin-top:-275px;
}

	.nav {
		color:pink;
		margin-left:5%;
		margin-top:-8.5%;
		border:5px white dotted;
		width:170px;
		position:absolute;
		background-color:pink;
		text-align:center;
	}

	.btn {
		margin-left:1vw;
		margin-right:1vw;
	}

	.info {
		text-align:left;
		margin-top:10vw;
		margin-left:10%;
	}

	.link {
		padding:30px;
		padding-top:20px;
		text-align:left;
		width:49%;
	}

	.info a {
		padding:30px;
		font-size:30px;
	}
	.info a:hover {
		padding:30px;
	}

	p.bold {
		font-weight:bold;
		line-height:35px;
		width:40%;
		text-align:center;
		margin-left:52%;
	}

	p.quote {
		font-family: tribute, serif;
		font-weight:400;
		font-style:italic;
		color:grey;
		margin-left:9%;
		text-indent:0px;
		width:35%;
		margin-top:40px;
		margin-bottom:30px;
	}

	p.quoteup {
		font-family: tribute, serif;
		font-weight:400;
		font-style:italic;
		color:grey;
		margin-left:9%;
		text-indent:0px;
		width:35%;
		margin-bottom:30px;
		text-align:center;
	}

	h3.art2 {
		 margin-top:60vw;
		 padding-left:2vw;
	}

	



.footer {
	border-bottom: 5px black dotted;
	margin-top:20%;
	margin-bottom:8%;
	margin-left:25%;
	width:50%;
}

.bulk {
	display: flex;
	flex-wrap: wrap;
/*	border-top: 1px solid black;*/
/*	margin-top:100px;*/
}

.vid {
	width:40%;
	height:auto;
	margin-left:5%;
	margin-top:-30%;
}

img {
	box-shadow: 10px 10px 20px grey,
	 			10px 10px 20px pink;
	width:100%;
}

.bimgs {
/*	width:50%;*/
	z-index:-9;
	top:50%;
	left:0;
	display:flex;
  	flex-wrap:wrap;
  	margin-top:30vh;
  	position:absolute;
  	opacity:0.7;
}

.j_back {
	z-index:-10;
	top:0;
	right:0;
	margin-top:60px;
	margin-bottom:-50%;
}

.jup_img {
	margin:10%;
	width:34%;
	margin-top:-4%;
}

.out1 {
	width:50vh;
	z-index:-9;
	top:550px;
	left:10%;
}
.out2 {
	width:40vh;
	z-index:-10;
	top:790px;
	left:20%;
}
/*.out3 {
	width:20%;
	z-index:-7;
	top:150%;
	left:0;
}*/
/*.out4 {
	width:100%;
	z-index:-12;
	top:-30%;
	left:0;
	opacity:0.1;
}*/
.out5 {
	width:30vh;
	z-index:-6;
	top:1435px;
	left:3%;
}
.out6 {
	width:30vh;
	z-index:-4;
	top:1750px;
	left:10%;
}
.out7 {
	width:30vh;
	z-index:-7;
	top:1435px;
	left:25%;
	margin-bottom:10%;
}



/*MOBILE*/
	@media (max-width:500px) {
		.h1mobile {
			font-size:100px;
			line-height:110px;
			text-align:right;
			color:pink;
			margin-top:6%;
			margin-right:5%;
		}
		.h2mobile {
			font-size:40px;
			line-height:55px;
			color:pink;
			text-align:right;
			text-overflow:wrap;
			margin-top:3%;
			margin-right:5%;
		}
		.h3mobile {
			margin-left:10%;
			margin-top:250px;
		}

		.nav_mobile {
			margin-top:30px;
		}

		.j_back_mobile {
			margin-top:180px;
		}

		.info_mobile {
			margin-left:5%;
		}

		.link_mobile {
			font-size:50px;
			width:100%;
		}

		.bulk_mobile {
			margin-top:300px;
			margin-left:-75%;
			padding:0px;
			margin-right:5%;
		}

		p {
			width:100%;
		}

		.vid {
			width:57%;
			height:auto;
			margin-left:45%;
			margin-right:0px;
			margin-top:30px;
		}

		p.bold1 {
			margin-top:100%;
		}
		.bold {
			padding-left:0px;
			padding-right:0px;
			margin-left:52%;
			padding-bottom:30px;
		}

		p.bold {
			margin-left:50%;
			width:47%;
		}
		
		p.quoteup {
			width:90%;
			margin-left:45%;
			margin-right:5px;
			margin-top:-40%;
		}

		p.quote {
			margin-left:300px;
			width:100%;
			margin-top:350px;
		}

		p.up {
			margin-top:0px;
		}

		.footer {
			width:100%;
			margin-left:300px;
			margin-right:10px;
		}

		.bimgs_mobile {
			margin-top:85px;
			width:80%;
		}

		.out2 {
			top:690px;
		}
		.out6 {
			margin-top:2100px;
		}
		.out5 {
			margin-top:1850px;
		}
		.out7 {
			margin-top:2100px;
		}
	}









