
body {
	background-color:black;
	color:pink;
	text-align:center;
	font-size:30px;
}

a {
	text-decoration:none;
	text-decoration-color:none;
	color:white;
	cursor:pointer;
/*	text-shadow: 0 0 30px white;*/
	padding:5px;
	text-align:center;
}

a:hover {
	background-color:white;
	color:black;
	padding:9px;
	border-radius: white 1px solid;
}

h1	{
	font-family: professor, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:130px;
	line-height:130px;
	text-align:center;
	color:pink;
	margin-top:3%;
}

h2 {
	font-family: cairo, sans-serif;
	font-weight:400;
	font-style:normal;
	font-size:40px;
	line-height:50px;
	color:white;
	text-align:center;
/*	border-bottom: pink 1px solid;*/
}

	.nav {
		color:pink;
		margin-left:auto;
		margin-right:auto;
		margin-top:80px;
		margin-bottom:40px;
		border:5px pink dotted;
		width:500px;
		font-family: cairo, sans-serif;
		font-weight:400;
		font-style:normal;
	}

	.btn {
		margin:4vw;
		text-align:center;
	}

	img {
		width:100%;
	}
	.sign {
		width:12%;
		margin-left:auto;
		margin-right:auto;
		margin-top:3%;
	}


			.social {
				width:20px;
				cursor:pointer;
				position:absolute;
				display:flex;
				margin-left:88%;
   				margin-right:12%;
    			margin-top:-40px;
    			font-family: cairo, sans-serif;
				font-weight:400;
				font-style:normal;
			}
				.cat {
					padding:10px;   			
					font-size:15px;
    				line-height:15px;
    				color:pink;
    				/*width:60%;*/
    				margin-left:67%;
    				margin-top:-46px;
				}
				.search {
					padding:10px;   			
					font-size:15px;
    				line-height:15px;
    				color:pink;
    				/*width:60%;*/
    				margin-left:75%;
    				margin-top:-46px;
				}				
				.about {
					padding:10px;   			
					font-size:15px;
    				line-height:15px;
    				color:pink;
    				/*width:60%;*/
    				margin-left:81%;
    				margin-top:-46px;
    			}

    .underline {
		border-bottom:4px pink dotted;
		width:90%;
		text-align:center;
		display:block;
		/*margin-top:20%;*/
		margin-left:auto;
		margin-right:auto;
		margin-bottom:5px; 
	}

.footer {
	width:100%;
	display:flex;
	/*display:block;*/
	/*text-align:center;*/
	margin-top:2%;
	/*margin-bottom:8%;*/
	text-overflow:wrap;
	color:pink;
	font-family: cairo, sans-serif;
	font-weight:400;
	font-style:normal;
}	
	.email {		
		font-size:15px;
    	line-height:15px;
    	color:pink;
    	width:60%;
    	margin-left:7%;
/*    	margin-top:10px;*/
    	display:flex;
 /*   	cursor:pointer;*/
	}
	.email a:hover {
		padding:5px;
	}
	.artname {
		width:80%;
		text-align:center;
		font-size:60px;
		line-height:60px;
		font-family: professor, sans-serif;
		font-weight:400;
		font-style:normal;
	}

		.bottom_about {
			margin-left:25px;
			margin-top:5px;
		}
		.bottom_search {
			margin-left:25px;
			margin-top:5px;
	}
	.bottomsocial {
		margin-bottom:100px;
		margin-left:7.5%;
		width:33px;
		cursor:pointer;
		position:absolute;
		display:flex;
   		margin-top:30px;		
	}
	.legal {
		font-size:12px;
		line-height:12px;
		color:grey;
		text-align:left;
		margin-left:7.5%;
		margin-bottom:70px;
		margin-top:100px;
		font-family: cairo, sans-serif;
		font-weight:400;
		font-style:normal;
	}



@media (max-width:500px) {

		.h1mobile {
			font-size:70px;
			margin-bottom:20px;
			margin-top:20%;
			width:100%;
		}
		.h2mobile {
			font-size:30px;
			margin-bottom:30%;
			margin-top:20%;
			width:100%;
		}

		.nav_mobile {
			border:5px pink dotted;
			width:80%;
			font-size:25px;
		}

		.sign_mobile {
			margin-top:20%;
			width:32%;
		}
}














