body {
	font-family: Arial black,serif;
	font-size: 80px;
	text-align: center;
	color:lightpink;
	background-color:peachpuff;
	text-transform: uppercase;
	font-weight: bold
}

a {
	color:red;
}


span {
	color:pink;
}


.Make {
	padding: 80px
}


.word1 {
	text-align:left;
	color:salmon;
	font-size: 120px;
}

.word2 {
	text-align:left;
	color:salmon;
	font-size: 120px;
}

.word3 {
	text-align:left;
	color:salmon;
	font-size: 60px;
	text-align: right;
}


.Again {
	padding: 80px
}

.dash {
	text-align:left;
	color:salmon;
	font-size: 60px;
	text-align: right;
}



.date {
	font-size:20px;
	text-align: left;
}

.title {
	font-size:20px;
	text-align: left;
}

.MADA {
	font-size:20px; 
	text-align: left;
}




